.top-left-nav {
  flex-direction: column;
  margin: auto;
}

.nav-item {
  padding: 0.6rem;

  border-bottom: 0;
  border-left: $brand-border-size transparent;

  &:hover {
    border-bottom: 0;
    border-left: $brand-border;
  }
}
